extends layouts/main.pug

block content
        ul.nav.nav-tabs(role="tablist")
            li.nav-item
                a.nav-link.active(aria-current="page", href="#add", data-bs-toggle="tab") Add

        .tab-content.p-4
            .tab-pane.fade.show.active#add(role="tabpanel")
                form.row.g-3.needs-validation(action="/assetTransaction" method="post" enctype="multipart/form-data" novalidate)
                    .col-md-6
                        input#assetStatusId.form-control(type="number", name="assetStatusId",hidden=true, value=4, required)
                        label(for="assetId").form-label Asset
                        select#assetId.form-select(name="assetId", required)
                            each asset in assets
                                option(value=asset.value) #{asset.label}
                        .invalid-feedback Please select a valid asset.                       
                    .col-12
                        button.btn.btn-primary(type="submit") Submit form

